<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020 Gabriel Keller
  ~ This work is licensed under a Creative Commons
  ~ Attribution-NonCommercial-ShareAlike 4.0 International License.
  ~ A copy of this license can be found at
  ~ https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.okgabe.mastr2" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>